@media (max-width: 991px) {
  .hero {
    padding-bottom: 115px;
  }

  .hero__title {
    font-size: 50px;
    line-height: 100%;
    margin-bottom: 16px;
  }

  .hero__text {
    margin-bottom: 62px;
  }

  .hero__pic {
    display: block;
    height: 100%;
  }

  .hero__image {
    padding-top: 102px;
  }

  .benefit {
    padding-bottom: 75px;
  }

  .benefit__content {
    padding-left: 255px;
    background-image: url('../image/benefit-690.svg');
  }

  .benefit__down-content {
    padding-top: 92px;
    padding-bottom: 0;
    padding-left: 15px;
    background-position: 15px 0;
  }

  .teacher {
    padding-bottom: 26px;
  }

  .teacher__list {
    margin-bottom: 23px;
  }

  .courses__item {
    min-height: 556px;
  }

  .courses__btn {
    padding: 21px 56px;
  }

  .courses__hours {
    right: 25px;
  }
}

@media (max-width: 767px) {

  .header {
    padding: 28px 0;
  }

  .header__logo {
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }

  .nav {
    padding: 0 19px;
  }

  .hero__title {
    padding-top: 62px;
  }

  .hero__text {
    margin-bottom: 61px;
    max-width: 345px;
  }

  .hero__image {
    display: none;
  }

  .benefit {
    padding-bottom: 55px;
  }

  .benefit__content {
    padding-left: 195px;
    background-image: url('../image/benefit-510.svg');
    background-position: 15px 80px;
  }

  .teacher {
    padding-bottom: 50px;
  }

  .courses__subtitle {
    max-width: 195px;
    font-size: 18px;
    line-height: 130%;
  }

  .courses__item {
    min-height: 653px;
  }

  .courses__btn {
    padding: 21px 49px;
  }
}

@media (max-width: 575px) {

  .body-wraper {
    overflow: hidden;
  }

  .header {
    position: relative;
    padding: 32px 0;
  }

  .header__content {
    position: static;
  }

  .header__burger {
    padding-right: 25px;
  }

  .nav {
    position: absolute;
    padding: 76px 15px 105px 15px;
    width: 320px;
    right: -320px;
    top: 0;
    z-index: 1;
    background-color: #2F2C45;
    visibility: hidden;
    transition: transform 0.5s ease-in-out, visibility .5s ease-in-out;
  }

  .header.open .nav {
    transform: translateX(-320px);
    visibility: visible;
  }

  .burger__span {
    transition: transform .5s ease-in-out, opacity .2s;
  }

  .header.open .burger__span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .header.open .burger__span:nth-child(2) {
    opacity: 0;
  }

  .header.open .burger__span:nth-child(3) {
    transform: translateY(8px) rotate(-45deg);
  }

  .nav__list {
    display: block;
  }

  .nav__item:not(:last-child) {
    margin-bottom: 56px;
  }

  .nav__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--color-white);
  }

  .header__burger {
    display: block;
    z-index: 2;
  }

  .header__logo {
    display: flex;
    margin-bottom: 0;
    text-align: left;
    width: 50%;
  }

  .benefit__content {
    padding-left: 15px;
    background-image: none;
  }

  .benefit__down-content {
    margin-bottom: 20px;
  }

  .teacher__descr {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .courses__img {
    width: 100%;
  }
}

@media (max-width: 375px) {

  .header__logo {
    width: 72px;
    height: 16px;
  }

  .nav {
    width: 100%;
  }

  .hero {
    padding-bottom: 28px;
  }

  .hero__title {
    margin-bottom: 5px;
    padding-top: 34px;
    font-size: 30px;
    line-height: 100%;
  }

  .hero__text {
    margin-bottom: 45px;
    font-size: 16px;
    line-height: 130%;
  }

  .hero__link {
    padding: 21px 55px;
    font-size: 16px;
    line-height: 19px;
  }

  .benefit {
    padding-bottom: 18px;
  }

  .benefit__title {
    margin-bottom: 3px;
    font-size: 20px;
    line-height: 130%;
  }

  .benefit__content {
    padding-top: 50px;
  }

  .benefit__down-content {
    margin-bottom: 0;
    padding-bottom: 32px;
    padding-top: 2px;
    padding-left: 125px;
    max-width: 305px;
  }

  .teacher {
    padding-bottom: 25px;
  }

  .teacher__title {
    margin-bottom: 26px;
    padding-top: 47px;
    font-size: 20px;
    line-height: 100%;
  }

  .teacher__pic {
    margin-bottom: 31px;
  }

  .teacher__list {
    margin-bottom: 22px;
  }

  .teacher__image {
    overflow: hidden;
  }

  .teacher__descr {
    display: block;
  }

  .courses__title {
    margin-bottom: 27px;
    padding-top: 46px;
    font-size: 20px;
    line-height: 100%;
  }

  .courses {
    padding-bottom: 20px;
  }

  .courses__descr {
    padding-top: 32px;
  }

  .courses__btn {
    padding: 20px 56px;
  }

  .courses__img {
    width: 100%;
  }
 }
